* {
    box-sizing: border-box;
}

.page-wrapper {
    padding: 30px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1000;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    height: auto;
    width: 315px;
    background-color: white;
    text-align: center;
}

.mug-logo {
    width: 100%;
    max-width: 50px;
    margin-right: 5px;
}

.logo > h1 {
    font-size: 2.7rem;
    display: inline-block;
    font-style: italic;
    color: #099;
    font-weight: 100;
}

nav > li {
    display: inline-block;
}

nav > ul {
    padding: 0;
}

.menu-list a {
    justify-content: space-around;
    margin-top: 1rem;
    background-color: white;
    color: #099;
    height: 65px;
    max-width: 315px;
    font-size: 1.1rem;
    display: block;
    padding-left: 20px;
    padding-top: 1.3rem;
    font-weight: 100;
}

.menu-list > a:hover {
    background-color: #099;
    color: white;
    transition: all 0.3s ease;
}

#drinks {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 315px;
    height: 150px;
    line-height: 2.2;
    text-align: center;
    padding-top: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.drink-menu {
    padding: 0;
}

.drink-menu li a {
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
}

.drink-menu > li > a:hover {
    color: #96FEFF;
    border-bottom: 4px solid #96FEFF;
}

.drink-section-container {
    max-width: 320px;
}

.drinks-img {
    width: 100%;
    max-width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
}

.drink-info {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 100;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
}

.drink-name {
    font-weight: 100;
    padding-top: 10px;
    font-size: 1.1rem;
}

.drink-price {
    color: #96FEFF;
    font-weight: 100;
    float: right;
    margin-top: -47px;
}

.drink-description {
    padding-bottom: 20px;
}

#about-section,
#contact-section,
#beginning-section {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1.2rem;
    line-height: 1.7rem;
    font-weight: 100;
    font-size: 0.99rem;
}

.section-heading,
.special-heading {
    color: #96FEFF;
    font-weight: 100;
}

.special-heading {
    padding-left: 2rem;
}

.item-container {
    margin-bottom: 4rem;
    max-width: 320px;
}

.item-container > p {
    padding: 0px 2rem 1rem 2rem;
}

.special-img {
    width: 100%;
    max-width: 320px;
}

footer,
.item-container,
.form-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 100;
    line-height: 1.8;
}

.form-container {
    padding: 2rem;
    width: 100%;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.6);
}

input,
textarea {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1rem;
    font-family: 'Open Sans';
    border-style: hidden;
    padding: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    border-bottom: 1px solid white;
}

::placeholder {
    color: white;
}

#submit {
    background-color: white;
    color: #099;
    width: 110px;
    height: 40px;
    font-size: 1rem;
    float: right;
    border: none;
    border-radius: 1px;
    margin-top: 10px;
}

#submit:hover {
    background-color: white;
    color: #099;
    transition: all 0.3s ease;

}

footer {
    margin-bottom: -45px;
}

footer > p {
    padding: 0.6rem;
    text-align: center;
}

hr {
    border-color: white;
}

/*large ipad screens*/

@media (min-width: 768px) {
    .logo {
        margin: 0 auto;
    }

    nav > ul {
        display: grid;
        grid-template-columns: 245px 245px;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    #drinks {
        max-width: 650px;
        margin: 0 auto;
        max-height: 80px;
        margin-bottom: 1.2rem;
    }

    .drink-menu > .drinks-list {
        display: inline-block;
        padding-right: 1.8rem;
    }

    .iced-drinks,
    .hot-drinks,
    .fruit-drinks {
        display: grid;
        grid-template-columns: 300px 300px;
        margin-bottom: 1rem;
        margin-top: 50px;
    }

    .grid-container {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-gap: 2rem;
    }

    #about-section {
        height: 350px;
    }

    #beginning-section {
        height: 430px;
    }

    .section-heading {
        text-align: center;
        font-size: 1.9rem;
    }

    .about-container > img,
    .beginning-container > img {
        float: left;
        width: 225px;
        margin-right: 20px;
    }

    .about-container > p,
    .beginning-container > p {
        padding-left: 1rem;
        font-size: 1.15rem;
        line-height: 1.8;
        font-weight: 100;
    }

    #contact-section {
        font-size: 1.3rem;
        line-height: 1.6;
        padding: 2rem;
    }

    .form-container {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

/* larger tablets */
@media (min-width: 1024px) {

    .iced-drinks,
    .hot-drinks,
    .fruit-drinks {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 450px 400px;
    }

    .about-container > p,
    .beginning-container > p {
        font-size: 1.3rem;
        line-height: 1.9;
        font-weight: 100;
    }

    .grid-container {
        margin-top: 40px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 1rem;
    }
}

/* laptops */
@media (min-width: 1281px) {
    .menu-list > a {
        font-size: 1.58rem;
        width: 250px;
    }

    #drinks {
        max-width: 800px;
    }

    .drink-menu > .drinks-list > a {
        font-size: 1.49rem;
    }

    .iced-drinks,
    .hot-drinks,
    .fruit-drinks {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 585px 550px;
    }

    .drink-container > img {
        max-width: 230px;
        height: auto;
    }

    .drink-description,
    .drink-name,
    .drink-price {
        font-size: 1.4rem;
        font-weight: 100;
        line-height: 1.7;
    }

    #about-section {
        max-width: 780px;
        height: 400px;
        margin: auto;
        margin-bottom: 2rem;
    }

    #beginning-section {
        max-width: 780px;
        margin: auto;
        height: 480px;
    }

    #contact-section {
        width: 700px;
        margin: auto;
    }

    .form-container {
        width: 500px;
        margin-top: 3rem;
    }
}
